/* Universal Selector */
/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

/* HTML Element Selectors */
body {
	font-family: Roboto, helvetica, sans-serif;
    margin: 1rem;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
  background-color: #581214; /* 紫色背景 */
  color: #bbc4bb;              /* 白色文字 */
  text-align: center;        /* 置中對齊 */
  padding: 15px;             /* 內距 */
  font-weight: bold;         /* 粗體字 */
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;                 /* Turn on grid layout */
    grid-template-columns: 1fr 1fr;/* Create two equal-width columns*/
    gap: 20px;                     /*Add some space between the columns (optional)  */
}

section {
    padding: 1rem;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;    /*Span across both columns*/
}

h3 {
	margin-bottom: 0.5rem;
}

article p {
	text-align: justify;
}

.callout {
	color: #bbc4bb;
	background-color: #581214;
    padding:15px;
    grid-column: 1 / 3; /*make the callout stretch across both columns*/       
} 

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
