/*----------Small screen-------------------------------*/
:root {
    --background-color: #52796F;
    --second-background-color: #84A98C;
    --hover-background-color:#1233;
    --text-color: #0F0F0F;
    --fotter-color: #FFFFFF;  
}

/*---------General Styles-----------------*/
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tinos", serif;
    font-weight:350;
    background-image: url(island1-large.webp);
    background-position: bottom; /*value: center, 50%,30%, bottom center */
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

/*---------Header-----------------*/
header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);

    strong {
        font-size: 3rem;
    }
}

nav {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--background-color);
    font-size: larger;
    padding: 1rem;

    /* when the button is clicked - 
    the open class is toggled (added/removed) */
    &.open {
        display: flex;
    }
    
    a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 600;
        /*make the link bigger easier to click,look more like a box*/
        padding: 12px;
        text-align: center;
    }

    a:hover {
        background-color: var(--hover-background-color);
    }
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--text-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

/*---------Main-----------------*/
main {
    margin: 0 auto;
    color: var(--text-color);
    flex-grow: 1;
}

/* #hero { */
    /* background-image: url(island1-large.webp); */
    /* position: relative; */

    /* img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */
/* } */

h1 {
    color: ;
}

#card {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 5px;
    line-height: 28px;
    padding: 10px;
 
    strong {
        text-align: right;
    }

    h2 {
        font-size: 1.6rem;
        color: #0f2d45;
        border-left: 6px solid #1E90FF;
        padding-left: 12px;
    }


    hr {
        border: none;
        border-top: 1px solid #d3d3d3;
    }

    /* --------- LISTS --------- */
    ul {
        padding-left: 1.2rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
}

/*---------Footer-----------------*/
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    font-weight: 400;
}

/* large view navigation ************************************/
@media (min-width: 740px) {
	header {
		display: flex;
        flex-direction: row;
		align-items: center;
		justify-content: space-between;

        nav {
            display: flex;
            flex-direction: row;
	    }
	}

    #menu {
		display: none; /* hide hamburger button */
	}

    main {
        max-width: 1000px;

    }
	
}
