:root {
	--back: hsla(150, 50%, 30%, 1);
  --back2: hsla(150, 50%, 30%, .5);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

/*---------Sets the body font.-----------------*/
body {
	font-family: "EB Garamond", Arial, serif;
}

/*---------Table Styles-----------------*/
table {
	margin: 10px auto;/*Centers the table (auto margin)*/
	border: thin solid var(--border);/*Adds a border*/
	box-shadow: 0 0 10px var(--shadow);/*Adds a drop-shadow*/
	border-collapse: collapse;/*Removes spacing between table cells (border-collapse)*/
}

/*---------A title for the table-----------------*/
caption {
  padding: 10px;/*Adds padding*/
  caption-side: bottom; /*Moves caption below the table*/
	color: var(--back); /*Changes text color*/
	font-size: .85rem; /*Makes text smaller*/
}

/*---------1️⃣ tr:first-child th The very first header row (“Wasatch Sales”)-----------------*/
/*---------2️⃣ .highlight The cell with class="highlight"
→ Makes the August "8000" background dark green.-----------------*/
tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px; /*All table header and data cells get padding*/
	border: 1px solid var(--borderlight); /*All cells get a light border*/
}

/*---------This affects: Month , Amount-------------*/
/*Not the first header row (that is overridden by the earlier selector).*/
th {
	background-color: var(--back2);
	font-size: larger;
}

td {
	text-align: center; /*Center-aligns all table data.*/
}

/*----------Zebra Striping--------------------*/
/*Every odd row (1st, 3rd, 5th…) gets a light gray background*/
/*This creates "zebra stripe" effect*/
tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}
