:root {
  --green-dark: #2f3a32;
  --green-soft: #ccd3cd;
  --text-dark: #222;
  --text-light: #fff;
}


header {
  background-image: linear-gradient(to right, rgb(65, 31, 65), 70%, transparent), url(../images/penghu-0.webp);
}

footer {
    background-color: rgb(58, 9, 58);
    color: var(--green-soft);

}