
:root {
  --green-dark: #2f3a32;
  --green-soft: #ccd3cd;
  --text-dark: #222;
  --text-light: #fff;
  --radius: 12px;
  --transition: 0.3s ease;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #f4f4f4;
  color: var(--text-dark);
  line-height: 1.6;
}

header {
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/home-island.webp);
  background-size: cover;
 
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 1.6rem;
      font-weight: bold;
      padding-left: 10px;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.1rem;
      transition: var(--transition);

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .hero-content {
    max-width: cover;

    .subtitle {
      letter-spacing: 4px;
      font-size: 1.5rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: 600;
      margin: 0.5rem 0;
    }
    
    .desc {
      margin: 1rem 0 2rem;
      font-size: 1.2rem;
    }
  }

}
