/*----------Small screen-------------------------------*/
:root {
    --background-color: #0b1838;
    --text-color: #c8ddf5;
    --strong-color: #eaedff;
    --havor-background-color: #3a60a0;
}

/*---------General Styles-----------------*/
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Tinos", serif;
   font-weight:400;
}


/*---------Header-----------------*/
header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);

    strong {
        font-size: 3rem;
        color: var(--strong-color);
    }
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}


nav {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--background-color);
    font-size: larger;
    padding: 1rem;

    /* when the button is clicked - 
    the open class is toggled (added/removed) */
    &.open {
        display: flex;
    }
    
    a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: 600;
        /*make the link bigger easier to click,look more like a box*/
        padding: 12px;
        text-align: center;
        width: 100%;
    }

    a:hover {
        background-color: var(--havor-background-color);
    }
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--text-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

/*---------Main-----------------*/
main {
    margin: 0 auto;
    padding: 20px;
    gap: 10px;

    h1{
       color: black;
       padding: 10px;
       text-align: center;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 300px)); 
        justify-content: center;
        gap: 1rem;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /*using flex is so much easier to understand, not on Grid*/

        img {
            width: 100%;
        }

        figcaption {
            text-align: center;
        }
    }
}

/*---------Footer-----------------*/
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    font-weight: 400;
}